@font-face {
  font-family: "TT Lakes";
  src: local("TT Lakes"),
    url(assets/fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "TT Lakes";
  src: local("TT Lakes"),
    url(assets/fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "TT Lakes";
  src: local("TT Lakes"), url(assets/fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: 700;
}
html,
body {
  font-family: "TT Lakes", sans-serif;
  background: #f8f8f8;
  color: #1b1c21;
}
ul {
  list-style-type: none;
}
.header {
  min-width: 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  height: 88px;
  border-bottom: 1px solid #B8FFEC;
}

.logo__button {
  width: 50px;
  height: 96px;
  background: transparent;
  border: white;
  margin-right: 50px;
  margin-left: 20px;
}

.list li:nth-child(4) {
  position: fixed;
  right: 80px;
}

.list li:nth-child(5) {
  position: fixed;
  right: 20px;
}

.logo__button::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #eaeaea;
  width: 2px;
  height: 32px;
  top: 35px;
  left: 195px;
}

.logo:hover {
  opacity: 50%;
}

.list {
  display: flex;
  flex-direction: row;
  overflow: visible;
}

.list__button,
.open-modal {
  background-color: #ff3e79;
  border-radius: 50%;
  padding: 10px;
  border: #ff3e79;
  width: 40px;
  height: 40px;
}

.open-modal {
  margin-left: 10px;
}

.list__button:hover,
.open-modal:hover,
.logo__button:hover {
  opacity: 0.7;
}

.info__title {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 28px;
}

.info__title::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #41f6d7;
  top: 115px;
  left: 4px;
  width: 4px;
  height: 40px;
}

.info {
  background-color: #f8f8f8;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.options-for-client {
  display: flex;
  flex-direction: row;
  color: #7e7e82;
  overflow-x: scroll;
  font-size: 16px;
  white-space: nowrap;
  margin-left: -30px;

}

.options-for-client__list {
  display: flex;
  white-space: nowrap;
}

.options-for-client__item {
  border: 1px solid transparent;
  padding: 10px 20px 10px 20px;
}

.options-for-client__item:hover {
  border: 1px solid #41f6d7;
  border-radius: 5px;
  background-color: white;
  padding: 10px 20px 10px 20px;
}

.promo {
  color: #1b1c21;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 14px;
}

.addinfo {
  font-size: 16px;
}

.read-next {
  background: transparent;
  border: white;
  width: 150px;
  font-size: 14px;
  font-family: inherit;
}

.read-next::before {
  content: url("assets/icon-arrow.png");
  margin-right: 10px;
}

.read-next:hover {
  opacity: 0.7;
}

.promocontainer {
  width: 320px;
}

p {
  margin-left: 12px;
}

.promo__group-picture {
  width: 320px;
  height: 176px;
  margin-top: 20px;
  margin-left: 10px;
}

.list li:nth-child(1),
.list li:nth-child(2),
.list li:nth-child(3) {
  visibility: hidden;
}
.promocontainer__description-2,
.promocontainer__description-3 {
  display: none;
}

@media (min-width: 768px) {
  .logo__button {
    margin-left: 30px;
  }

  .logo__button::after {
    display: none;
  }

  .logo__button::before {
    content: "";
    position: absolute;
    display: block;
    background-color: #eaeaea;
    width: 2px;
    height: 32px;
    top: 35px;
    left: 75px;
  }

  .show_all {
    visibility: visible;
    position: relative;
    left: 0;
    right: 0;
  }

  .list li:nth-child(1),
  .list li:nth-child(2),
  .list li:nth-child(3) {
    visibility: visible;
    position: relative;
    left: 230px;
    margin-left: 15px;
  }

  .list li:nth-child(4) {
    margin-right: -5px;
  }

  .list li:nth-child(3)::after {
    content: "";
    position: absolute;
    display: block;
    background-color: #eaeaea;
    width: 2px;
    height: 32px;
    top: 5px;
    left: 55px;
  }

  .group-picture {
    width: 360px;
    height: 208px;
  }
  .promo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .promocontainer__description-2 {
    display: block;
  }

  .promocontainer__description-1,
  .promocontainer__description-3 {
    display: none;
 }
}

@media (min-width: 1120px) {
  .header {
    background: #f8f8f8;
    border-bottom: none;
  }


  .info__title {
    position: relative;
    bottom: 80px;
    left: 12px;
  }

  .info__title::before {
    top: 0;
    left: -30px;
  }

  .options-for-client,
  .promo {
    overflow-x: hidden;
    position: relative;
    bottom: 100px;
  }

  .options-for-client__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10px;
  }

  .promo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 20px;
  }

  .promocontainer {
    width: 490px;
  }

  .promo__group-picture {
    width: 531.35px;
    height: 307px;
  }

  .list li:nth-child(1),
  .list li:nth-child(2),
  .list li:nth-child(3) {
    visibility: hidden;
  }

  .list li:nth-child(4) {
    right: 250px;
  }

  .open-modal,
  .logo {
    display: none;
  }

  .list li:nth-child(4) {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  .list li:nth-child(5) {
    position: absolute;
    top: 40px;
    right: 250px;
  }

  .list li:nth-child(4)::before {
    content: "Оставить заявку";
    position: relative;
    bottom: 5px;
    font-weight: bold;
    margin-right: 10px;
  }

  .list li:nth-child(5)::before {
    content: "Статус ремонта";
    position: relative;
    bottom: 5px;
    font-weight: bold;
    margin-right: 10px;
  }
  .promocontainer__description-3 {
    display: block;
  }

  .promocontainer__description-1,
  .promocontainer__description-2 {
    display: none;
 }
}
